/* start of index css */


body {
  width: 100%;
  margin: auto;
  background-color: #fff;
  background-image: url("../siteimages/woven.jpeg");
}

#Mainheader {
  background: #fff;
  border: solid 2px #cccccc;
}

#navbar {
  float: right;
  width: 100%;
  height: 40px;
  padding-right: 20px;
  text-align: right;
  background: #ffffff;
  margin-right: -15px;
}

li {
  display: inline-block;
  
}

ul li:not(:last-child):after {
  content: "";
  color: #777777;
}

a {
  text-decoration: none;
  color: #777777;
  font-family: georgia;
  margin: auto;
}

#Nametag {
    position: relative;
    float: left;
    width: 200px;
    height: 55px;
    color: #fff;
    font-family: georgia;
    font-size: 30px;
    text-align: center;
    background: #4aaaa5;
    margin: auto;
    margin-left: 48px;
}

.wrap {
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 2px solid #cccccc;
  text-decoration-line: none;
  background: #fff;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

h2 {
  color: #4aaaa5;
  background: #fff;
  font-family: 'Times New Roman', Times, serif;
  padding-top: 10px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

#indexrow{
  max-width: 1140px;
  max-height: 700px;
  background: #fff

}

.profilepic {
  float: left;
  position: relative;
  padding: 0px 30px 0px 0px;
  width: 275px;
  height: 375px;
}

p {
  background: #fff;
  color: #777777;
  line-height: 200%;
  clear: all;
  font-size: 20px;
}

#footer {
  
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-top: 8px solid #4aaaa5;
  background: #666666;
  text-align: center;
  color: #fff;
  font-size: 15px;
}

h6 {
  margin-top: 30px;
  font-family: georgia;
  font-weight: normal;
  padding-bottom: auto;
  margin-bottom: 10px;
}

/* end of index CSS */

/* start of porfolio css */

/* Portfolio headline */

#Portfolioheader {
    background: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 35px;
    border: 2px #dddddd;
    margin-bottom: -16px;
    width: 700px;
    text-align: justify;
}

/* portfolio photo styling */



.portfolio-images{
  height: 250px;
  width: 250px;
  padding-bottom: 10px;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 30px 20px;
  background: #ffffff;;
}

.container-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 33%;
}

.portfolio-item-container {
  display: flex;
  height: 250px;
  margin-bottom: 25px;
  
}


/* text across images */
.banner {
  position: absolute;
  background: #4aaaa5;
  margin-top: -45px;
  color: #ffffff;
  text-align: center;
  width: 160px;
  height: 25px;
  padding-top: 2px;
  padding-bottom: 10px;
}

.image-wrapper {
  float: left;
  width: 40%;
  height: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border: 2px #dddddd;
  position: relative;
  padding-top: 20px;
  background: #ffffff;
  background: 960px;
}

.image-wrapper:nth-child(even) {
  padding-left: 5px;
 
}

.image-wrapper:nth-child(odd) {
  padding-right: 5px;
}

.image-wrapper > img {
  width: 100%;
}

.image-wrapper > span {
  display: inline-block;
  width: 200%;
  background: #ffffff;
}

/* end of portfolio css */

/* begining of contact css */

/* contact me header */

#Contactme {
  background: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  /* margin-top: 100px; */
  border: 2px #dddddd;
  padding-bottom: 15px;
}

#contentbox {
  box-sizing: border-box;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 93%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  resize: vertical;
}

label {
  background-color: #ffffff;
  background-size: 700px;
  color: #777777;
  font-family: georgia;
}

input[type="submit"] {
  background-color: #4aaaa5;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #4d7573;
}

/* Style the container/contact section */

.column {
  float: left;
  width: 100%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* background of contact box */
#contactbox {
  background: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px #dddddd;
  margin-top: -20px;
  margin-bottom: 75px;
}

/* end of document css */

/* Responsive website Css */

.nav-link {
font-family: Georgia, Times, Times , serif;
background: #ffffff;
color:#777777;
}