/* Navbar CSS */
.navbar-light .navbar-nav .nav-link {
    color: #777777;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background: #ffffff;
}

.d-inline-block {
    display: inline-block!important;
    height: 60px;
    width: 220px;
    padding-left: 30px;
    margin-bottom: -9px;
    margin-top: -9px;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: right;
    align-items: right;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav-link {
    display: inline-block;
    padding: .5rem 1rem;
    align-content: right;
}

   ul li:not(:last-child):after {
    content: " | ";
    color: #777777;
}

.headerbackground{
    height: 50px;
    width: 100%;
    background: #ffffff;
}

/* Body CSS */

.container{
    background-color: #ffffff;
    margin-right:100px;
    margin-top: 75px;
    width: 700px;
    margin-left: 50px;
    overflow: auto;
    
    
}

:root{
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 980px;
    /* overflow: auto; */
}

@media (min-width: 990px) {
    
    #Portfolioheader {
        background: #ffffff;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 35px;
        border: 2px #dddddd;
        margin-bottom: -16px;
        width: 700px;
        text-align: justify;
       margin-left:50px;
    }
    
    .row{
        margin-left:50px;
    }

    .profilepic{
        width:150px;
        height:250px;
    }

}

    @media (min-width: 760px) {
    p {
        clear: all;
        width: 560px;
}

.profilepic{
    width:150px;
    height:250px;
}}




@media screen and (max-width: 640px) {
    /* .cntr {
      position: relative;
    } */
    .profilepic{
        width:150px;
        height:250px;
    }
      
    p {
        clear: all;
        width: 560px;

    }

    .portfolio-images{
        width:200px;
        height:200px;
        padding-bottom: 10px;
        border-block-end: #ffffff;
    }

    .banner{
        position: absolute;
        background: #4aaaa5;
        margin-top: -45px;
        color: #ffffff;
        text-align: center;
        width: 200px;
        height: 25px;
        padding-top: 2px;
        padding-bottom: 10px;
    }

    
}
  
   

   @media (min-width: 640px){
      
.col-lg-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 200%;
    max-width: 50%;
    height: auto;
    width:100%;
    }}